.idea/
target/
**/target/
**/.idea/
*.iml
*.iws
*.ipr
.vscode/

.env
.env.*
*.key
*.pem
*.p12
*.jks

application.yml
application.yaml
application.properties

.hvigor/
oh_modules/
local.properties
*.cer
*.p7b
*.p12
*.csr
*.mobileprovision
signingConfigs/
